<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Heavy</title>
    <link rel="stylesheet" href="static/styles/index.css">
    <link rel="stylesheet" href="static/styles/heavy.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <link rel="shortcut icon" href="static/images/logoHeartenic.png">
</head>
<body>
    <!--Botones esquina-->
    <a href="/" class="new-page-btn" style="top: 0;"><i class="fas fa-pen-to-square"></i></a>
    <a href="{{ url_for('heavy') }}" class="new-page-btn" style="top: 40px;"><i class="fas fa-atom"></i></a>
    <a href="{{ url_for('settings') }}" class="new-page-btn"style="top: 80px;"><i class="fas fa-gear"></i></a>
    <!------------------->
    <div class="main-container">
        <h1> <i class="fas fa-atom"></i> Heavy Mode</h1>
        <div id="chat-box" class="chat-box"></div>
        <div class="bottom-bar">
            <input type="text" id="user-input" placeholder="Escribe tu mensaje...">
            <button onclick="sendMessage()"><i class="fas fa-arrow-up"></i></button>
        </div>
    </div>

    <script src="static/scripts/heavy.js"></script>
</body>
</html>