<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Chatbot Local</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    <div class="main-container">
        <h1>Heartenic Bot ♥️</h1>
        <div id="chat-box" class="chat-box"></div>
        <div class="bottom-bar">
            <button id="mode-toggle" class="mode-button" onclick="toggleMode()">🧠</button>
            <input type="text" id="user-input" placeholder="Escribe tu mensaje...">
            <button onclick="sendMessage()">Enviar</button>
        </div>
    </div>

    <script src="static/index.js"></script>
</body>
</html>