body {
    font-family: Arial, sans-serif;
    background-color: #191919;
    margin: 0;
    padding: 50px;
}

.main-container {
    max-width: 70%;
    height: 70%;
    margin: auto;
    margin-top: 120px;
    color: white;
    background-color: #1e1e1e; /* Fondo general */
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.new-page-btn{
    position: fixed;
    top: 0;
    left: 0;
    margin: 30px;
    color: rgb(186, 186, 186);
    transition: all 0.3s ease;
    font-size: 1.5rem;
}

.new-page-btn:hover{
    scale: 1.1;
    color: white;
}

h1 {
    text-align: center;
}