body {
    font-family: Arial, sans-serif;
    background-color: #191919;
    margin: 0;
    padding: 20px;
}

.main-container {
    max-width: 1000px;
    margin: auto;
    margin-top: 120px;
    color: white;
    background-color: #1e1e1e; /* Fondo general */
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h1 {
    text-align: center;
}